<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" >
    <parameter name="author" value="Guru99" />
    <parameter name="searchText" value="India" />
    <test name="Summer">
        <parameter name="searchText" value="Summer" />
        <classes>
            <class name="com.automationpracticePislyakov2.AtlasTests">
            </class>
        </classes>
    </test>
    <test name="Dress">
                <parameter name="searchText" value="Dress" />
        <classes>
            <class name="com.automationpracticePislyakov2.AtlasTests">
            </class>
        </classes>
    </test>
    <test name="t-shirt">
                <parameter name="searchText" value="t-shirt" />
        <classes>
            <class name="com.automationpracticePislyakov2.AtlasTests">
            </class>
        </classes>
    </test>
</suite>